A.lmenu {text-decoration:none;}
A.lmenu:menulink:link {color:white;}
A.lmenu:menulink:visited {color:white;}
A.lmenu:hover {color:white; text-decoration:underline;}
pre {font-family: ArialCE, HelveticaCE, Arial, Helvetica, sans-serif;}

body {
  background-color: white;
  background: url(images/d_gradbar_blue.gif);
  background-repeat: repeat-x;
  color: black;
  font-family: ArialCE, HelveticaCE, Arial, Helvetica, sans-serif;
  font-size: smaller;
  margin: 0px 0px 0px 0px;
}

.ramka {
	background-color: #F8F8F8; 
	padding: 10px; 
	margin: 10px;
	border: 1px solid #d5d5d5; 
	
}

.ramka-help {
	background-color: #F8F8F8; 
	padding: 10px; 
	margin: 10px;
	border: 1px solid #d5d5d5; 
	font-size: 12px;
}

.ramka-help-toc {
	background-color: #DDDDEE; 
	padding: 10px; 
	margin: 10px;
	border: 1px solid #BBBBCC; 
	font-size: 12px;
	width: 200px;
}
.ramka-example {
	background-color: #F1F1F1; 
	font-size: 10px;
	border: 1px dashed #d5d5d5; 
	padding: 10px; 
	font-family: Courier, CourierCE;
}

.ramka2 {
	font-size: 18px;
	color: #4444BB;
}

.result-body {
	font-size: 12px;
	width: 100%;
}

.icon {
	padding: 6px;
	vertical-align: top;
}

.search-nav {font-size: 12px;}


a.results-link {
	font-size: 16px;
	font-weight:bold;
}

.small-address {
	font-size: 12px;
	color: green;	
}

.small-description {
	font-size: 10px;
	color: green;	
}

.search-nav-form-table {
	background-color: #DDDDEE;
	font-size: 12px;
	color: black;
	width: 100%;
	border-top:1px solid #BBBBBB;
	border-bottom:1px solid #BBBBBB;
	margin: 10px 0px 0px 0px;
	padding: 2px;
}

.search-nav-form-table-warning {
	background-color: #F19AA0;
	font-size: 12px;
	color: black;
	width: 100%;
	border-top:1px solid #444444;
	margin: 10px 0px 0px 0px;
	padding: 5px;
}

.search-nav-info {
	vertical-align: top; 
	text-align: right;
	font-size: 14px;
	color: black;
}

.adv-form {
	background-color: #E0E0E0;
	font-size: 12px;
	color: black;
	width: 100%;
	margin: 0px;
	padding: 5px;
	#margin: 10px;
}

.adv-form td {
	padding: 5px;
}




}

.title{
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight:bold;
  color: #00425e;
  text-decoration:none;
  padding-left:7px;
  padding-right:7px;  
}
#tlo{ 
background: url(graphics/back.png); 
background-repeat: no-repeat; 
float: center;
height: 140px; 
width: 504px;
}
.someclassContainer { width: 500px; float: center; height:260px; }
.someclass { 
	float: center;
	background: #DDDDEE; 
	border: solid 1px #BBBBCC; 
	padding: 15px; 
	height:275px; 
	width: 520px;
	#position: absolute;
	#top:30px;
	#left:-15px; 
	z-index: 2;
}

.svn { 
	background: #DDDDEE; 
	border: solid 1px #BBBBCC; 
	border-bottom: none;
	padding: 12px; 
	z-index: 3; 
	position:absolute; top:-168px; left:-190px; 
	width: 70px;
	}

#onlyTop { background: #7B3; border: solid 3px yellow; border-bottom: none; padding: 20px; }
#onlyBottom { background: #362; border: solid 3px yellow; border-top: none; padding: 20px; }
#onlyLeft { background: #7B3; border: solid 2px yellow; border-right: none; padding: 20px; }
#onlyRight { background: #362; border: solid 2px yellow; border-left: none; padding: 20px; }
#withbgimg1 { color: white; border: solid 1px #85ADC3; padding:3em;
  background: url(gradient.gif) #003B62; background-repeat: repeat-x; }
#withbgimg1 * { color: white; }

#withbgimg2 {
  background: #DDDDEE;
  padding: 30px; color: black;
  margin: 10px;
  border: solid 5px #BBBBCC; 
  }

#withbgimg2 * { color: black; }

.width80p {  }

.small-font 
{
font-size: 11px;
}
#sort{
	visibility: hidden;
}
#sort2{
	visibility: hidden;
}
#sortHelp{
	visibility: hidden;

}
#resultTable{
position: absolute;
top: 100px;

}
#mainHelp{
position: absolute;
top: 100px;

}
